services:
  db:
    image: alpine:3.20
    container_name: webrtc-sqlite-db
    command: ["sh", "-c", "mkdir -p /data && touch /data/users.db && tail -f /dev/null"]
    volumes:
      - webrtc_sqlite:/data
    restart: unless-stopped

  app:
    build: .
    container_name: webrtc-app
    command: ["python", "app.py"]
    depends_on:
      - db
    ports:
      - "34535:34535"
    environment:
      DB_PATH: "/data/users.db"
      HOST: "0.0.0.0"
      PORT: "34535"
      TLS_CERT: "crt/server.crt"
      TLS_KEY: "crt/server.key"
      SESSION_COOKIE_NAME : "sid"
      SESSION_TTL_SECONDS : "18000"
      SMTP_HOST : "smtp.gmail.com"
      SMTP_USER : "origal1237@gmail.com"
      SMTP_PASS : "bmrd ypxt vjiz uvhq"
      SMTP_PORT : "465"
      STATIC_DIR : "static"
      TEMPLATES_DIR : "templates"
      CLOUDFLARE_TURN_TTL : "900"
      CLOUDFLARE_TURN_KEY_API_TOKEN : "1764a26d09edee35cd186f1c4a48aa56fa95284408deccca640f7ebbe365253b"
      CLOUDFLARE_TURN_KEY_ID : "91a1b14b8ea9a166ac552a50e2a7ea38"

    volumes:
      - webrtc_sqlite:/data
    restart: unless-stopped

  signaling:
    build: .
    container_name: webrtc-signaling
    command: ["python", "signaling.py"]
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DB_PATH: "/data/users.db"
      WS_HOST: "0.0.0.0"
      WS_PORT: "8000"
      TLS_CERT: "crt/server.crt"
      TLS_KEY: "crt/server.key"
    volumes:
      - webrtc_sqlite:/data
    restart: unless-stopped

volumes:
  webrtc_sqlite:
